.btn {
    color: white;
    font-size: 17px;
    font-weight: 500;
    width: 150px;
}

.button-container {
    flex-direction: row;
    justify-content: space-evenly;
}

.input-group-prepend {
    text-align: center;
    width: 100px;
}
.input-group-text{
    flex: 1;
}

.location-input-group{
    display: flex;
    flex-direction: column;
    
}
.inputContainer{
   width: 100%;
}
.location-input-body {
    border-radius: 10px;
    color: white;
    padding: 5px 15px 5px 15px;
    text-align: center;
}

.reset-btn{
    background-image: linear-gradient(to right,#ec008e,#F05A28);
}

.search-btn{
    background-image: linear-gradient(to right,#2556A3,#2393D4);
}

.submitButton {
    height: 25px;
    width: 100px;
}
