.title-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 40%;
    min-width: 450px;
    background-color: rgba(230, 230, 230, 0.1);
    border-radius: 15px;
}

.title-container{
    width: 100%;
    display: flex;
    justify-content: center;
}