.details {
    text-align: justify;
}

.detailedForecast {
    align-self: flex-end;
    margin-bottom: 0px;
    margin: 40px 0 0 0;
    text-align: center;
}

.header-container {
    flex: 10;
}

.icon {
    border-radius: 15px;
}

.image-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100px;
}

.image-context-container {
    align-items: flex-start;
    display: flex;
    flex: 3;
    flex-direction: row;
    width: 100%;
}

.location {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.name {
    font-size: 25px;
    margin: 3px 3px 6px 3px;
    text-align: center;
    width: 100%;
}

.refresh-button {
    animation: spin 10s infinite forwards;
    font-size: 20px;
}

.refresh-button-container {
    cursor: pointer;
    height: 0;
    margin: 5px 0 5px 0;
    text-align: right;
    width: 100%;
}

.refresh-text {
    font-size: 9px;
    margin-top: 10px;
    white-space: nowrap;
}

.spacing-container {
    flex: 1;
}

.temperature {
    font-size: 60px;
    margin: 0px 10px 1rem 10px;
}

.temperature-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.temperatureUnit {
    padding-bottom: 10px;
}


.title {
    font-size: 22px;
    margin-bottom: 5px;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.todays-weather-container {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 480px;
    max-width: 650px;
    min-width: 450px;
    overflow: hidden;
    padding: 20px 27px 20px;
}

@media(height: 735px) {
    .todays-weather-container {
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 275px;
        max-width: 650px;
        min-width: 450px;
        overflow: hidden;
        padding: 10px 27px 10px;
    }
}

.variable-body {
    height: 100%;
    width: 100%;
}

.weather-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}

.weather-temp-container {
    flex: 1;
}

.wind-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: auto;
    justify-items: flex-end;
    flex: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.todays-weather-internal {
    width: 100%;
    height: 100%;
}

.unit {
    font-size: 25px;
    align-self: flex-end;
}

.windSpeedTitle {
    vertical-align: center;
    text-align: center;
}

.windSpeedValue {
    font-size: 60px;
    margin: 0px 10px 1rem 10px;
}

/*star animations*/

.night {
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
}

.star {
    position: absolute;
    left: 0%;
    top: 50%;
    height: 4px;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 150px;
    }

    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(600px);
    }
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

    .star:nth-child(1)::before,
    .star:nth-child(1)::after {
        animation-delay: 1s;
    }

.star:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
}

    .star:nth-child(2)::before,
    .star:nth-child(2)::after {
        animation-delay: 1.2s;
    }

.star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
}

    .star:nth-child(3)::before,
    .star:nth-child(3)::after {
        animation-delay: 1.4s;
    }

.star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}

    .star:nth-child(4)::before,
    .star:nth-child(4)::after {
        animation-delay: 1.6s;
    }

.star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}

    .star:nth-child(5)::before,
    .star:nth-child(5)::after {
        animation-delay: 1.8s;
    }

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}
